/* Global reset */
html {
    font-size: 62.5%    !important;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

@media only screen and (min-width: 87.5em) {
    html {
        font-size: 65% !important;
    }
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 50% !important;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 37.5% !important;
    }
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 30% !important;
    }
}

:root {
    --color-primary: #2196F3;
    --color-primary-light: #64B5F6;
    --color-secondary: #8558ff;
    --color-secondary-light: #9476e8;
    --color-black: #1d1d1d;
    --color-white: #fff;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
}

body {
    background-color: #fff;
    color: var(--color-black);
    transition: all .3s ease-in-out;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1001; 
    background-color: var(--color-white);
}

.navbar__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 3rem;
    visibility: visible; 
}
        
.navbar__logo--img {
    height: 4.5rem;
    width: 7rem; 
}
    
.navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #3d3d3d;
    transition: all .2s ease-in-out;
    position: relative; 
}
      
.navbar__link:link:not(:last-child), .navbar__link:visited:not(:last-child) {
    margin-right: 3rem; 
}
    
.navbar__link::after {
    content: "";
    position: absolute;
    background-color: var(--color-primary);
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transition: all .2s ease-in-out; 
}
    
.navbar__link:hover::after {
    transform: scaleX(1); 
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    transform: scale(.8);
  }

  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 1.6rem;
    outline: none;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
    padding-right: 40px;
    color:var(--color-black);
  }

  .input-search::placeholder{
    color:rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    position: absolute;
    right: 0px;
    color: var(--color-black);
    /* background-color:transparent;     */
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0,0,0,.5);
    transition: all 250ms ease-in-out;
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0,0,0,.5);
    transition: all 250ms ease-in-out;
  }

  /* HERO SECTION */
.hero{

}

.hero__container {
    height: 95vh;
    width: 100vw;
}

  .hero__text-container {
    margin-top: 2rem;
    flex: 0 0 50%;
    padding: 0 7rem;
  }

  .hero__img-container{
    flex: 0 0 50%;
  }

  .hero__img {
    height: 100%;
    width: 100%;
  }

  .hero__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .hero__heading::before {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-primary);
    content: "";
    left: -3rem;
    top: -10px;
    opacity: .2;
  }

  .hero__text {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 4rem;
  }

  .btn-primary {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 500px;
    border: 2px transparent solid;
    transition: all .2s ease-in-out;
  }

  .btn-primary:hover {
    border: 2px var(--color-primary-light) solid;
    background-color: transparent;
    color: var(--color-black);
  }

  .btn-secondary {
    padding: 1rem 5rem;
    font-size: 1.4rem;
    background-color: transparent;
    color: var(--color-white);
    border-radius: 500px;
    border: 2px var(--color-white) solid;
    transition: all .2s ease-in-out;
  }

.heading-1 {
    font-size: 3rem;
    font-weight: 600;
}

.heading-2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-white);
}

  .form {
    height: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    margin: 10rem auto 3rem auto;
  }

  .form__left {
    background: linear-gradient(45deg, rgba(133,88,255,1) 0%, rgba(33,150,243,1) 100%);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    flex: 0 0 35%;
    text-align: center;
    padding: 5rem;
  }

  .form__left-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-white);
    opacity: .8;
  }

  .form__right {
    flex: 0 0 65%;
  }

  .form__right .heading-1 {
    color: var(--color-primary);
  }

  .form__right-text {
    font-size: 1.4rem;
    color: #00000088;
  }

  .form__input {
    background-color: #64B5F622;
    width: 60%;
    padding: 2rem;
    font-size: 1.3rem;
    outline: none;
    border-radius: 10px;
  }

  .form__input:not(last-child) {
    margin-bottom: 2rem;
  }