{% extends 'base.htm' %}
{%block content%}

<main class="hero">
    <div class="hero__container  flex items-center">
        <div class="hero__text-container">
            <h1 class="hero__heading">
                Student Internet Governance Forum
            </h1>
            <p class="hero__text">
                Internet and Technology Policy for the Youth
            </p>
<!--                 <a href="" class="btn-primary--white btn-primary">Get Started</a> -->
        </div>
    </div>
</main>

<!-- ABOUT SECTION -->

<section class="about-section">
    <div class="about__container  flex items-center">
        <div class="about__img-container">
            <img src="img/flowers.jpg" alt="" class="about__img">
        </div>
        <div class="about__text-container">
            <h1 class="heading-1 mb-8">About Us</h1>
            <p class="about__text mb-8">
                SIGF is a platform for young adults to present their views on core internet policy and technology, as well as on the various intersections of it with other policy fields, like finance, health, and education. It acts a bridge between the stakeholders in the field of internet, technology, and digital policy and the youth.
            </p>
            <a href="" class="btn-primary">Our Team</a>
        </div>
    </div>
</section>

<section class="events-section mb-16">
    <div class="events-container">
        <h1 class="heading-1 mb-24">Bulletin</h1>
        <div class="events">
            <div class="event">
                <p class="event__heading mb-8">Conference</p>
                <p class="event__text mb-8">The Student's Internet Governance Forum (SIGF) is planning to hold a Conference on the 1st of October, 2022 in a multistakeholderism manner, wherein high school students will present their views and research, and debate on pressing issues in the field of internet and digital policy. The debates will permit the students to develop a deeper understanding of the aforementioned issues through a highly engaging and interactive format.</p>
                <a href="" class="btn-primary">Learn more</a>
            </div>

            <div class="event">
                <p class="event__heading mb-8">SIG Registration</p>
                <p class="event__text mb-8">Form a Special Interest Group to represent your school at SIGF events. Examine the issue in the space of internet and technology most pertinent to you and defend your views in front of policymakers and experts.</p>
                <a href="" class="btn-primary">Learn more</a>
            </div>

            <div class="event">
                <p class="event__heading mb-8">Introduction Webinar</p>
                <p class="event__text mb-8">Details arriving soon</p>
                <a href="" class="btn-primary">Learn more</a>
            </div>
        </div>
    </div>
</section>


{%endblock%}
