{%extends 'base.htm'%} {%block content%}

    <section class="form flex items-stretch w-11/12">
        <form method="post" class="form__right flex flex-col justify-center items-center">
          {{form.hidden_tag()}}
            <h1 class="heading-1 mt-16 mb-8">Sign Up</h1>
            <p class="form__right-text mb-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            {{form.name(class="form__input", placeholder='Name')}}
            {%if form.name.errors%}
            {%for error in form.name.errors%}
            <small class="error">{{error}}</small>

            {%endfor%} {%endif%}

            {{form.email(class="form__input", placeholder='Email')}}
            {%if form.email.errors%}
            {%for error in form.email1.errors%}
            <small class="error">{{error}}</small>

            {%endfor%} {%endif%}
          
            {{form.password(class="form__input", placeholder='password')}}

            {%if form.password.errors%} {%for error in form.password.errors%}
            <small>{{error}}</small>
            {%endfor%} {%endif%}

            {{form.pass_confirm(class="form__input" , placeholder='Confirm password')}}

            {%if form.pass_confirm.errors%} {%for error in form.pass_confirm.errors%}
            <small class="error">{{error}}</small>
            {%endfor%} {%endif%}
            {{form.submit(class ="btn-primary mb-16")}}
        </form>
    </section>

{%endblock%}
