{%extends 'base.htm'%} {%block content%}
<body>
    <!-- FORM -->

    <section class="form flex items-stretch w-11/12">
        <div class="form__left flex flex-col justify-center items-center">
            <h2 class="heading-2 mb-8">Lorem Ipsum</h2>
            {{form.hidden_tag()}}
            <p class="form__left-text mb-8">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, voluptate deleniti. Ipsum vel quae esse eum, inventore tempore voluptatem dolorum
            </p>
            <a href="" class="btn-secondary">Sign In</a>
        </div>
        <form action="" class="form__right flex flex-col justify-center items-center">
            <h1 class="heading-1 mt-16 mb-8">Sign Up</h1>
            <p class="form__right-text mb-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            {{form.name(class="form__input", placeholder='Name')}}
            {{form.name(class="form__input", placeholder='Email')}}
            {%if form.email.errors%}
            {%for error in form.email.errors%}
            <small class="error">{{error}}</small>
            {%endfor%} {%endif%}
            {{form.name(class="form__input", placeholder='Name')}}
            {{form.name(class="form__input", placeholder='Name')}}
            {{form.name(class="form__input", placeholder='Name')}}
            {{form.submit(class ="form__btn")}}
        </form>
    </section>


</body>

</html>