{%extends 'base.htm'%}{%block content%}
<section class="form flex items-stretch w-11/12">

     <form method="post" class="form__right flex flex-col justify-center items-center">
       {{form1.hidden_tag()}}
         <h1 class="heading-1 mt-16 mb-8">Log In</h1>
         <p class="form__right-text mb-8">
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </p>
         {{form1.date(class="form__input", placeholder='Date')}}
         {%if form1.date.errors%} {%for error in form1.date.errors%}
             <small>{{error}}</small>
         {%endfor%} {%endif%}

         {{form1.size(class="form__input", placeholder='Size')}}
         {%if form1.size.errors%} {%for error in form1.size.errors%}
             <small>{{error}}</small>
         {%endfor%} {%endif%}
         {{form1.submit(class="btn-primary mb-16")}}
     </form>

     <div class="form__left--2 flex flex-col justify-center items-center">
         <h2 class="heading-2 mb-8">New Here?</h2>
         <p class="form__left-text mb-8">
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, voluptate deleniti. Ipsum vel quae esse eum, inventore tempore voluptatem dolorum
         </p>
         <a href="{{url_for('register')}}" class="btn-secondary">Sign Up</a>
     </div>
 </section>

{%endblock%}